@tailwind base;
@tailwind components;
@tailwind utilities;




@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

:root {
  --color-bg: #fff;
  --color-border: #e5e7eb;
  --color-sidebar-item: #f3f4f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-bg);
  scroll-snap-type: y var(--tw-scroll-snap-strictness);


}

.layout {
  display: flex;
  height: 100vh;
  position: relative;
  gap: 2rem;
}

.layout__main-content {
  flex-grow: 1;
}

.sidebar__wrapper {
  position: relative;
}

.sidebar {
  width: 17rem;
  height: 100%;
  background-color: var(--color-bg);
  padding: 1rem;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  overflow: hidden;
}

.sidebar__top {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.sidebar__logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
  border-radius: 1rem;
}

.sidebar__logo-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.sidebar__list {
  list-style: none;
}

.sidebar__link {
  display: inline-block;
  font-size: 1rem;
  text-decoration: none;
  color: #000;
  padding: 0.8rem 1rem;
  display: flex;
  background-color: var(--color-sidebar-item);
  margin-bottom: 1rem;
  border-radius: 0.8rem;
}

.sidebar__link--active {
  color: #fff;
  background-color: #10b981;
}

.sidebar__icon {
  display: inline-block;
  font-size: 1.2rem;
}

.sidebar__name {
  margin-left: 0.5rem;
}

[data-collapse="true"] {
  width: 5.3rem;
}

[data-collapse="true"] .sidebar__name,
[data-collapse="true"] .sidebar__logo-name {
  display: none;
}

.btn {
  position: absolute;
  right: 0;
  top: 4.7rem;
  border: none;
  background-color: var(--color-bg);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transform: translateX(50%);
  font-size: 1.1rem;
  border-right: #000;
  background-color: #ff0000; /* Red color */
}


/* Hover background color */
.btn:hover {
  background-color: #cc0000; /* Darker red on hover */
}

/* Active background color */
.btn:active {
  background-color: #990000; /* Even darker red on active */
}

/* Focus outline */
.btn:focus {
  outline: none;
}

/* Focus ring */
.btn:focus {
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5); /* Red focus ring */
}


/* styles.css */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  color: rgb(0, 0, 0);
  height: 1200px;
}

.dashboard-card {

  padding: 25px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 200px;
  margin-top: 10px;
  gap:20px;
  cursor: pointer;
}

 .fitness{
    background-image: url('/fitness.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    text-align: left;
    justify-content: left;
    color: rgb(0, 0, 0);

}
 .health{
    background-image: url('/health1.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(8, 0, 15);

}
 .body{
    background-image: url('/body.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(251, 251, 251);

}
 .blood{
    background-image: url('/blood.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(8, 0, 15);


}
 .stomach{
    background-image: url('/stomach.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(8, 0, 15);


}
 .hair{
    background-image: url('/hair.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(8, 0, 15);


}
 .obesity{
    background-image: url('/obesity.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(8, 0, 15);


}
 .gastric{
    background-image: url('/gastic.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(8, 0, 15);


}
 .sugar{
    background-image: url('/diabetes.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(8, 0, 15);


}
 .whitehair{
    background-image: url('/whitehair.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(251, 251, 251);


}
 .heart{
    background-image: url('/heart0.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-position: center; /* Center the image */
    margin-top: 1px;
    background-position: 0%;
    border-radius: 18px;
    color: rgb(8, 0, 15);


}
/* styles.css or a dedicated layout CSS file */
.layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color); /* Use appropriate CSS variables */
}

/* Style for main content */
.layout main {
  flex-grow: 1;
  padding: 20px;
}


.fitimage{
  margin-right: 200px;
  justify-content: end;
}



/* Add appropriate styles for hamburger menu */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem;
  background: transparent;
  border: none;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}




